.signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 3em;
  height: 100%;
}

.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 3em;
  height: 100%;
}

.createRoutine {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 3em;
  height: 100%;
}

.createActivity {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 3em;
  height: 100%;
}
